<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<style>
    /* header */
    /* header */
    * {
        padding: 0px;
        margin: 0px;
        border: 0px;
    }

    .header {
        height: 100px;
        width: 100%;
        background-color: brown;
        display: flex;
        flex-direction: row;
    }

    .heading {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 70%;

    }

    .about {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 100px;

    }

    .logout {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 100px;

    }

    h2 {
        color: wheat;
        text-align: center;
    }



    /* end */

    /* .. */

    * {
        padding: 0px;
        margin: 0px;
        border: 0px;
    }

    .page {
        height: 530px;
        width: 50%;
        background-color: brown;
        opacity: 0;
        animation: fade-in 1s ease forwards;


    }

    .add-Form {
        width: 100%;
        display: flex;
        flex-direction: row;

    }

    /* .heading {
        margin-top: 40px;
    } */

    .align {
        text-align: center;
    }

    .image {
        width: 80%;

    }

    .color {
        color: wheat;
        margin-right: 50px;
        width: 100px;
    }

    .headingcolor {
        color: wheat;
        margin-bottom: 40px;
    }

    .box {
        display: flex;
    }

    .wid {
        width: 400px;
        /* margin-right:400px; */
    }

    .widd {
        width: 400px;
    }

    .widdd {
        width: 400px;
    }

    .addResultForm {
        width: 50%;
        background-color: brown;
        opacity: 0;
        animation: fade-in 1s ease forwards;
    }

    .addResultForm {
        padding: 20px 20px 20px 20px;
    }

    .button {
        /* margin-left:20px; */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }

    .footer {
        height: 50px;
        background-color: brown;
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 0.75;
        }
    }

    /* .. */
</style>

<body>
    <div class="header">
        <div class="heading">
            <h2>Result Management Portal</h2>
        </div>
        <div class="about">
            <button class="btn btn-primary">About</button>
        </div>
        <div class="logout"><a href='/logout'><button type="click" (click)="logoutUser()"
                    class="btn btn-primary">Logout</button></a>
        </div>

    </div>
    <div class="add-Form">
        <div class="page">
            <div class="image"><img src="https://wallpapercave.com/wp/wp7453551.jpg" height="530px" width="670px" />
            </div>
        </div>
        <div class="addResultForm">
            <div class="heading ">
                <h3 class="headingcolor align">New Result Updation</h3>
            </div>
            <div class="studentForm">
                <form id="form-data">
                    <div class="mb-3 box">
                        <label class="form-label color">Roll No:</label>
                        <input type="number" class="form-control wid" placeholder="enter rollno" id="RollNo">

                    </div>
                    <div class="mb-3 box">
                        <label class="form-label color">Name:</label>
                        <input type="text" class="form-control wid" placeholder="enter name" id="name">
                    </div>

                    <div class="mb-3 box">
                        <label class="form-label color">Date Of Birth:</label>
                        <input type="date" class="form-control widdd" placeholder="enter date" id="DateOfBirth">
                    </div>
                    <div class="mb-3 box">
                        <label class="form-label color">Email:</label>
                        <input type="email" class="form-control wid" placeholder="enter Email" id="Email">
                    </div>
                    <div class="mb-3 box">
                        <label class="form-label color">Score:</label>
                        <input type="number" class="form-control wid" placeholder="enter Score" id="Score">
                    </div>

                    <!-- <div class="button"> -->
                    <button type="submit" (click)="addData()" class="btn btn-primary">Add</button>
                    <!-- <button type="click" (click)="clearForm()" class="btn btn-primary">Cancel</button> -->
                    <!-- </div> -->
                    <!-- <span>{{results.DateOfBirth}}</span> -->

                </form>
            </div>
        </div>
        <div id="response">


        </div>

    </div>

    <div class="footer">

    </div>
    <!-- <script src="../Scripts/addFormScript.js"></script> -->
</body>
<script>
    const responseContainer = document.getElementById('form-data');
    responseContainer.addEventListener("submit", addData)
    const dataForm = document.getElementById('data-form');

    async function addData(event) {



        console.log("sonal")
        event.preventDefault();
        var inputData = {
            "name": document.getElementById('name').value,
            "RollNo": document.getElementById('RollNo').value,
            "EmailId": document.getElementById('Email').value,
            "DateOfBirth": document.getElementById('DateOfBirth').value,
            "Score": document.getElementById('Score').value
        }
        console.log("sonal" + inputData.Email)
        const formData = new FormData();
        formData.append('data', inputData);

        try {
            const response = await fetch('/student', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(inputData)
            });

            const responseData = await response.json();
            window.location.href="/results"
        } catch (error) {
            console.error('POST request failed:', error);
        }
    };
</script>

</html>